/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "remixicon/fonts/remixicon.css";

html,
body {
    height: 100%;
    background: #f1f3f6;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &::-webkit-scrollbar {
        width: 13.5px;
        height: 13.5px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(109, 109, 109);
        border: 4px solid transparent;
        border-radius: 6px;
        background-clip: padding-box;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

// ------------------------------------------------------------------------  Scrollbar CSS Starts Here  ---------------------------------------------------------

.scrollWrap {
    width: auto;
    overflow: scroll;
}

.scrollWrap::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
}

.scrollbar {
    overflow: hidden !important;
}

.scrollbar:hover {
    overflow: overlay !important;
}

.margin-scrollbar::-webkit-scrollbar-track {
    margin-top: var(--pixels);
}

// ----------------------------------------------------------------------  Scrollbar CSS End Here  -------------------------------------------------------------

// ------------------------------------------------------------------  mat-form-field CSS Starts Here  ---------------------------------------------------------
.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    font-size: 12px !important;
}

.mdc-text-field__input {
    font-size: var(--mdc-typography-subtitle1-font-size, 12px) !important;
}

.mat-mdc-select {
    font-size: var(--mdc-typography-body1-font-size, 12px) !important;
}

.mdc-text-field__input::placeholder {
    font-size: var(--mdc-typography-subtitle1-font-size, 12px) !important;
}

.mat-mdc-select-placeholder {
    font-size: 12px !important;
}

.mdc-text-field__input:-webkit-autofill,
.mdc-text-field__input:-webkit-autofill:hover,
.mdc-text-field__input:-webkit-autofill:focus,
.mdc-text-field__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.mdc-floating-label {
    font-size: var(--mdc-typography-subtitle1-font-size, 12px);
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 15px
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: translateY(-24.75px) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75));
    transform: var(--mat-mdc-form-field-label-transform)
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 6px;
    padding-bottom: 6px
}

.mat-mdc-form-field-infix {
    min-height: 40px
}

.mat-mdc-form-field-error-wrapper {
    padding: 0 !important;

    .mat-mdc-form-field-error {
        font-size: 11px;
    }
}

.mat-mdc-form-field-icon-suffix {
    color: #6f6f6f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0px 6px 6px 0px;

    button {
        margin: 0;
        padding: 0;
        min-width: unset;
        width: 100%;
        height: 100%;

        .mat-icon {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-width: 1px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-width: 1px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
    border-width: 1px !important;
}

.mdc-text-field--outlined .mdc-text-field__ripple::before,
.mdc-text-field--outlined .mdc-text-field__ripple::after {
    border-width: 1px !important;
}

.mat-mdc-option {
    min-height: 35px !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
    font-size: var(--mdc-typography-body1-font-size, 12px);
    line-height: var(--mdc-typography-body1-line-height, 35px);
    font-weight: var(--mdc-typography-body1-font-weight, 400);
    letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em)
}

// -----------------------------------------------------------------   mat-form-field CSS End Here   ------------------------------------------------------------

// -----------------------------------------------------------------  Alert Message CSS Starts Here  ------------------------------------------------------------

.alert-message,
#alert-message {
    position: fixed;
    width: 90%;
    max-width: 500px;
    z-index: 10000;
    top: 20px;
    left: 50%;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    display: none;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#alert-message {
    display: none;
}

.alert-success {
    display: block !important;
    background: #82BA3F;
    color: white;
    border-radius: 7px;
    font-weight: bold;
}

.alert-warning {
    display: block !important;
    background: #fa9d2f;
    color: #fff;
    border-radius: 2px;
}

.alert-error {
    display: block !important;
    background: rgb(231, 48, 42);
    color: #fff;
    z-index: 99;
    border-radius: 7px;
    font-weight: 550;
}

// -----------------------------------------------------------------   Alert Message CSS Ends Here   -------------------------------------------------------------