.signup-container {
    background-image: url(/assets/img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100% - 290px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;

    .signup-div {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #FFFFFF;
        box-shadow: 2px 0 20px -1px rgb(0 0 0 / 16%);
        width: 40%;

        .signup {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: calc(100% - 2rem);

            .signup-text {
                color: #111112;
                line-height: 30px;
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 0.5rem;
            }

            .submit-btn {
                color: #FFFFFF;
                border: 1px solid #ccc;
                background-color: #fb641b;
                padding: 10px;
                font-size: 14px;
                font-weight: 600;
                border-radius: 5px;
            }

            .login-div {
                display: flex;
                align-items: center;

                div {
                    margin-bottom: 0.5rem;
                    font-weight: 500;

                    &:first-child {}

                    &:last-child {
                        margin-left: 1rem;
                        color: blue;
                        cursor: pointer;

                    }
                }
            }

        }
    }
}

@media screen and (max-width: 767px) {
    .signup-div {
        width: 100% !important;
    }
}