.ask-questions-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .ask-questions-header {
        .heading-3 {
            font-size: 18px;
            font-weight: 500;
            color: #212121;
        }
    }

    .ask-questions-body {
        margin-top: 1rem;
    }

    .ask-questions-footer {
        margin-left: auto;

        button {
            color: #2874f0;
            background-color: #F2F2F2;
            box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        }

        & :last-child {
            margin-left: 1rem;
            background-color: #d9232d;
            color: #FFFFFF;
        }

    }
}

::ng-deep.mat-mdc-form-field {
    width: 100% !important;

    .remaining-char {
        float: right;
        font-size: 10px;
        font-weight: 500;
    }
}