<form [formGroup]="formGroup" class="profile-container">
    <div class="personal-info-container">
        <div *ngIf="userInfo?.isVerified" class="verifed-bg">Verifed</div>
        <div *ngIf="!userInfo?.isVerified" class="verifed-bg">Not Verifed</div>
        <div class="personal-info-header">
            <span class="personal-info-text">Personal Information</span>
            <button *ngIf="getIsDiblePersonalInfoCard" mat-flat-button type="button" (click)="editPersonalInfo()">Edit</button>
            <button *ngIf="!getIsDiblePersonalInfoCard" mat-flat-button type="button" (click)="savePersonalInfo()">Save</button>
            <button *ngIf="!userInfo?.isVerified" mat-flat-button type="button" (click)="verifyUserInfo()">Verify</button>
        </div>
        <div class="personal-info-fields">
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput formControlName="name" type="text" placeholder="Enter Full Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Your Gender</mat-label>
                <mat-select formControlName="gender" placeholder="Select your gender">
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email Address</mat-label>
                <input matInput formControlName="email" type="text" placeholder="Enter Email Address">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobileNo" type="text" placeholder="Enter Mobile Number">
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="getAddessFromArray.length; else emptyAddress" class="deliver-address-container">
        <div class="delivery-address-header">
            <span class="delivery-address-text">Delivery Addresses</span>
            <button *ngIf="getAddessFromArray.disabled" mat-flat-button type="button" (click)="editDeliverAddress()">Edit</button>
            <button *ngIf="!getAddessFromArray.disabled" [disabled]="getAddessFromArray.invalid" mat-flat-button type="button" (click)="saveDeliveryAddress()">Save</button>
        </div>
        <div class="inv-tbl">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="serialNumber">
                    <th mat-header-cell *matHeaderCellDef>S. No.</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <span>{{i + 1}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef>Area, Street, Sector, Village</th>
                    <td mat-cell *matCellDef="let element">
                        <input matInput [formControl]="element.get('area')" [title]="element?.get('area')?.errors?.required ? 'Area is required' : ''" type="text" placeholder="Area/Street/Sector/Village">
                    </td>
                </ng-container>
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>City/District/Town</th>
                    <td mat-cell *matCellDef="let element">
                        <input matInput [formControl]="element.get('city')" [title]="element?.get('city')?.errors?.required ? 'City is required' : ''" type="text" placeholder="City/District/Town">
                    </td>
                </ng-container>
                <ng-container matColumnDef="pinCode">
                    <th mat-header-cell *matHeaderCellDef>Pin Code</th>
                    <td mat-cell *matCellDef="let element">
                        <input matInput [formControl]="element.get('pinCode')" [title]="element?.get('pinCode')?.errors?.required ? 'Pin Code is required' : ''" type="text" placeholder="Enter Pin Code">
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <div class="actions-sec">
                            <button *ngIf="getAddessFromArray.valid && i == getAddessFromArray.length - 1" type="button" (click)="addDeliveryAddress()">
                                <i class="ri-add-circle-line"></i>
                                <span class="btn-info">Add</span>
                            </button>
                            <button type="button" (click)="removeDeliveryAddress(i)">
                                <i class="ri-delete-bin-line"></i>
                                <span class="btn-info">Delete</span>
                            </button>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <ng-template #emptyAddress>
        <div class="empty-address">
            <div class="empty-address-text">Empty Delivery Address</div>
            <button mat-flat-button type="button" (click)="addDeliveryAddress()">
                <mat-icon>add</mat-icon>
                <span>Add New Delivery Address</span>
            </button>
        </div>
    </ng-template>
</form>