<section>
    <div class="left-section">
        <div class="top">
            <div class="profile-icon">
                <mat-icon>account_circle</mat-icon>
            </div>
            <div class="profile-name">
                <div class="name-heding">Name</div>
                <div class="name">Sanjay Kumar</div>
            </div>
        </div>
        <div class="bottom">
            <div class="router-link" [routerLink]="'/account/dashboard/my-profile'" [routerLinkActive]="'active'">
                <div class="router-icon">
                    <mat-icon>account_box</mat-icon>
                </div>
                <div class="router-name">My Profile</div>
            </div>
            <div class="router-link" [routerLink]="'/account/dashboard/my-orders'" [routerLinkActive]="'active'">
                <div class="router-icon">
                    <mat-icon> list_alt</mat-icon>
                </div>
                <div class="router-name">My Orders</div>
            </div>
            <div class="router-link" [routerLink]="'/account/dashboard/my-wishlist'" [routerLinkActive]="'active'">
                <div class="router-icon">
                    <mat-icon>favorite</mat-icon>
                </div>
                <div class="router-name">My Wishlist</div>
            </div>
            <div class="router-link" [routerLink]="'/account/dashboard/my-coupons'" [routerLinkActive]="'active'">
                <div class="router-icon">
                    <mat-icon>account_balance_wallet</mat-icon>
                </div>
                <div class="router-name">My Coupons</div>
            </div>
            <div class="router-link" [routerLink]="'/account/dashboard/all-notifications'" [routerLinkActive]="'active'">
                <div class="router-icon">
                    <mat-icon>notifications</mat-icon>
                </div>
                <div class="router-name">All Notifications</div>
            </div>
            <div class="router-link">
                <div class="router-icon">
                    <mat-icon>power_settings_new</mat-icon>
                </div>
                <div class="router-name">Logout</div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <router-outlet></router-outlet>
    </div>
</section>